#include <stdbool.h>
#include "types.h"

$CONTENT

result voting_rule(profile input) {
  profile profile_1 = input;

  result result_1;

  for(int i=0; i<C; i++) {
    result_1.values[i] = DEFERRED;
  }

  result_1 = $ENTRY;

  return result_1;
}
